.posts-tab-container {
    max-width: 1080px;

}

.posts-tab-container .nav-link {
    color: #8A8A8A;
    padding: 10px 10px 20px 0;
    margin-bottom: -17px;
}

#mobileEditButton {
    color: white;
    max-width: 55px;
    margin: 15px;
    margin-left: auto;
    background: rgb(255, 92, 92);
    background: linear-gradient(101deg, rgba(255, 92, 92, 1) 38%, rgba(240, 86, 138, 1) 68%);
}