.search-input{
    width: 400px;
    background-color: #F2F2F2;
    text-align: center;
  
}

.search-icon{
    position: absolute;
    top:40%;
    
}

.nav-dropdown {
    background-color: #fff;
    box-shadow: inset;
    
    
}

.nav-dropdown-menu{
    margin-right: auto; 
    margin-top: 5%;
    z-index: 2;
}

.nav-dropdown-menu input{
   
    width: 100%;
}
.nav-dropdown-menu ul{
    list-style: none;
    
}